body {
      background: #10131a;
      color: #c7d8f0;
      font-family: 'Fira Mono', 'Consolas', monospace;
      margin: 0;
      padding: 0 0 40px 0;
    }
    header {
      background: #181f27;
      color: #62f0ff;
      padding: 26px 10px 16px 10px;
      text-align: center;
      font-size: 24px;
      border-bottom: 2px solid #54e0b0;
      text-shadow: 0 0 30px #00c7ccaa;
      letter-spacing: 2px;
    }
    main {
      max-width: 900px;
      margin: 30px auto;
      background: #1a2029;
      border-radius: 10px;
      box-shadow: 0 2px 24px #000b;
      border: 2px solid #262b37;
      padding: 18px 30px 28px 30px;
    }
    h2 {
      color: #7be0b5;
      font-size: 20px;
      margin-top: 26px;
    }
    h3 {
      color: #62f0ff;
      font-size: 17px;
      margin-top: 18px;
    }
    ul {
      margin-left: 22px;
      color: #dde6ff;
      font-size: 14px;
    }
    li { margin-bottom: 4px; }
    .code {
      background: #0f131a;
      color: #a5fffa;
      font-family: 'Fira Mono', monospace;
      font-size: 14px;
      border-left: 4px solid #62f0ff;
      margin: 12px 0 18px 0;
      padding: 11px 16px;
      border-radius: 6px;
      box-shadow: 0 2px 10px #1498a133;
      line-height: 1.4em;
      overflow-x: auto;
    }
    .console {
      background: #232631;
      color: #98fc55;
      font-size: 13px;
      border-left: 3px solid #7be0b5;
      margin: 6px 0 14px 0;
      padding: 8px 14px;
      border-radius: 3px;
      letter-spacing: 1px;
    }
    @media (max-width: 700px) {
      main { padding: 12px 6vw; }
      header { font-size: 19px; padding: 18px 2vw;}
      .code, .console {font-size: 12px; padding: 8px 6px;}
    }