body{
    background-image: url('asset/image/fond5.webp');
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

.container{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    animation: entry 3s ease-in-out 0s 1;
}

.container-prenom{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
    animation: entry 3s ease-in-out 0s 1;
}

/* Animation d'entrée */
@keyframes entry {
    0% {
        opacity: 0;
        transform: translateX(-150px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.circle {
    width: 20px;
    height: 20px;
    background: #000000cc;
    border-radius: 50%;
    box-shadow: 0 1px 10px #ffffff9e;
    transition: transform 0.1s ease;
}

.circle:hover {
    transform: scale(1.5);
    background: #b4b5c3;
}


.message {
    font-family: 'Arial Black', Gadget, sans-serif;
    font-size: 24px;
    color: #ffffff;
    text-shadow: 2px 2px 4px #000000;
    text-align: center;
    width: fit-content;
    margin: auto;
    padding: 10px;
    background: #000000cc;
    border-radius: 10px;
    box-shadow: 0 1px 10px #ffffff9e;
    position: relative;
    top: 50px;
    overflow: hidden;
    transition: background 0.3s ease;
}

.message:hover {
    background: #b4b5c3;
    cursor: default;
}

a {
    text-decoration: none;
    font-weight: bold;
    overflow: hidden;
}

a:visited {
    color: #ffffff;
    text-decoration: none;
}


@media (max-width: 800px) {
    .circle{
        width: 13px;
        height: 13px;
    }
}

@media (max-width: 600px) {
    .circle{
        width: 10px;
        height: 10px;
    }
}
