body{
    background-image: url(asset/image/fondecran.png);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    font-family: 'Poppins', Arial, sans-serif;
    color: #f4f4f4;
    margin: 0;
}

h1 {
    text-align: center;
    margin-top: 3rem;
    font-size: 3.5em;
}

form {
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    padding: 2rem;
    border-radius: 10px;
    max-width: 400px;
    margin: 3rem auto;
    font-size: 2.5rem;
}

input {
    width: 90%;
    padding: 0.8rem;
    margin: 1rem 0;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
}

button {
    background-color: #032bae;
    color: white;
    border: none;
    padding: 0.8rem 2rem;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #021a7a;
}