table{
    margin: auto;
    border: 3px solid #7c17c5;
    border-collapse: collapse;
}
td{
    padding: 10px;
    text-align: center;
}
img{
    width: auto;
    height:100px;
}

th{
    border-top: none;
    border-left: 3px solid #7c17c5;
    border-right: 3px solid #7c17c5;
    border-bottom: 3px solid #7c17c5;
    padding: 10px;
}
td{
    border-bottom: none;
    border-left: 3px solid #7c17c5;
    border-right: 3px solid #7c17c5;
    border-top: 3px solid #7c17c5;
    transition: transform 0.3s, background-color 0.3s;
}

td:hover{
    background: #e0b3ff;
    cursor: pointer;
}

td:active{
    transform: scale(0.95);
    background: #3220fa;
}